/* Field settings */
.image-select-field .acf-row .acf-field {
    padding-left: 0px;
    padding-right: 0px;
}

.image-select-field .acf-field-image-select-repeater-value,
.image-select-field .acf-field-image-select-repeater-label {
    max-width: 45%;
}

/* Backend settings flex */
.acf-field-image-select .acf-input {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.acf-field-image-select .image-select__label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Container and image */

.acf-field-image-select .image-select__image {
    object-fit: contain;
    height: 120px;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
}

/* Checked effect */
.acf-field-image-select .image-select__radio:checked +  .image-select__checkmark {
    display: block;
}

.acf-field-image-select .image-select__checkmark {
    display: none;
    position: absolute;
    height: 24px;
    width: 24px;
    right: 8px;
    top: 8px;
    z-index: 1000;
}

/* Radio */
.acf-field-image-select .image-select__radio {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}

/* Label */
.acf-field-image-select .image-select__label p {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
}