$base: var(--base, 8px) !default;
$color-black: var(--color-black, #000000) !default;
$color-primary: var(--color-primary, #ec6701) !default;

.mod-menu.mod-menu--listing {
    a.mod-menu__heading {
        text-decoration: none;
        color: $color-primary;
    }

    .mod-menu__heading-label-wrapper {
        border-bottom: 2px solid $color-primary;
    }

    .mod-menu__heading-label {
        width: 100%;
        margin-top: 0;
    }

    .mod-menu__icon {
        color: $color-primary;
        margin-right: $base;
    }

    .mod-menu__icon,
    .mod-menu__heading-label-wrapper {
        padding-bottom: calc($base * .5);
    }

    .mod-menu__list {
        margin-top: $base;
        padding-left: calc($base * 4);
    }

    a.mod-menu__heading,
    .mod-menu__list-item a {
        &:hover {
            color: $color-primary;
        }
    }

    // needs a more complex selector to override the default menu customizer styles.
    .mod-menu__list.c-nav .mod-menu__list-item a {
        color: rgba($color-black, 0.96);

        &:hover {
            span.c-nav__text,
            span.c-icon {
                color: $color-primary;
            }
        }
    }
}