.modularity-js-droppable {
    box-sizing: border-box;
    position: relative;
    min-height: 200px;
    border-radius: 10px;

    &:empty:after {
        display: block;
        content: attr(data-empty);
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        font-size: 13pt;
        color: #999;
    }
}

.modularity-state-droppable {
    border: 3px dashed #999;
}
