.modularity-modules {
    max-height: 300px;
    overflow: auto;
    text-align: center;
    margin-top: -6px;
    margin-bottom: -12px;
    margin-left: -12px;
    margin-right: -12px;
    padding: 6px 12px 12px 12px;
}

.modularity-module {
    box-sizing: border-box;
    display: inline-block;
    width: 45%;
    max-width: 130px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.modularity-module-name {
    display: block;
    font-weight: bold;
    font-size: 10pt;
}

.modularity-module-icon {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    margin-bottom: 3px;

    background-color: #F0F0F0;
    border: 3px solid #828282;
    border-radius: 10px;

    text-align: center;

    svg,
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 60%;
        max-height: 60%;
        height: 100%;
        width: auto;
    }

    svg,
    svg * {
        fill: #4D4D4D !important;
    }
}
