@import 'config/z-index';

@import 'general/admin-menu';

@import 'partials/form';
@import 'partials/table';
@import 'partials/tabs';
@import 'partials/modules';
@import 'partials/editor';
@import 'partials/modal';
@import 'partials/loader-takeover';
@import 'partials/utilities';
@import 'partials/spinner';

[class*="modularity-mod-"] {
    position: relative;

    .modularity-edit-module {
        display: none;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .modularity-edit-module a {
        position: relative;
        display: inline-block;
        padding: 5px 10px;
        background-color: #000;
        color: #fff !important;
        font-size: 14px;

        &::after {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;

            border-top: 5px solid #000;
        }
    }

    &:hover {
        .modularity-edit-module {
            display: block;
        }
    }
}
